<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generátor týmů</title>
</head>
<body>
    <h1>Generování Týmů</h1>

    <form method="POST">
        <h2>Hráči</h2>
        {% for player in players %}
            <div>
                <input type="checkbox" name="selected_players" value="{{ player.name }}">
                <label>{{ player.name }} (Skill: {{ "%.2f"|format(player.skill) }})</label>
            </div>
        {% endfor %}

        <h2>Brankáři</h2>
        {% for goalkeeper in goalkeepers %}
            <div>
                <input type="checkbox" name="selected_goalkeepers" value="{{ goalkeeper.name }}">
                <label>{{ goalkeeper.name }} (Skill: {{ "%.2f"|format(goalkeeper.skill) }})</label>
            </div>
        {% endfor %}

        <button type="submit">Generuj Týmy</button>
    </form>

    {% if team1 %}
        <h2>Tým 1</h2>
        <ul>
            {% for player in team1 %}
                <li>{{ player[0] }} (Skill: {{ "%.2f"|format(player[1]) }})</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if team2 %}
        <h2>Tým 2</h2>
        <ul>
            {% for player in team2 %}
                <li>{{ player[0] }} (Skill: {{ "%.2f"|format(player[1]) }})</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
