<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Hráči a Brankáři</title>
</head>
<body>
    <h1>Seznam Hráčů a Brankářů</h1>
    <h2>Hráči</h2>
    <ul>
        {% for player in players %}
            <li>
                {{ player.name }} (Skill: {{ player.skill }})
                <a href="{{ url_for('delete_player', id=player.id) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Brankáři</h2>
    <ul>
        {% for goalkeeper in goalkeepers %}
            <li>
                {{ goalkeeper.name }} (Skill: {{ goalkeeper.skill }})
                <a href="{{ url_for('delete_goalkeeper', id=goalkeeper.id) }}">Smazat</a>
            </li>
        {% endfor %}
    </ul>

    <br><a href="/add_player">Přidat Hráče/Brankáře</a>
</body>
</html>
